{% extends 'base.html' %}
{% block content %}
<div id="wrapper">
<header>
    <img src="../static/header_pic.png" alt="メールの文面作った〜のアイコン">
    <p>メールの文面作ったぁ〜！</p>
</header>

<div class="inner">
<main>
    <div class="top_table">
        <table>
            <tr>
                <th>シチュエーション</th>
                <th>カテゴリ</th>
            </tr>
            <tr>
                <td>
                    <select id="situation">
                        {% for item in situation_list %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="destination">
                        {% for item in destination_list %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button id="button" class="shortButton">例文を表示</button>
                </td>
            </tr>
        </table>

        <!-- <input type="text" name="Target" id="Target" value="" class="textarea"> -->
        <textarea id="Target" cols="80" rows="20"></textarea>
    </div>
    <div class="twobuttons">
        <button onclick="copyToClipboard()" class="button">例文をコピー</button>

        <button id="clr" class="button">例文をクリア</button>
    </div>

</main>
</div>
<footer>
    <p>Copyright&copy; SUNABACOおんらいん1st NDBチーム</p>
</footer>
</div>

{% endblock %}